
/*Extra Variable*/
$radius: 2px;

$menu-a-color: white;
$body-background-color: #303030;
$main-text-color: white;
$mat-toolbar-color: white;
$mat-toolbar-background: #212121;

//Bulma
$menu-item-color: $menu-a-color;
$menu-item-hover-background-color: rgba(0, 0, 0, .3);
$table-background-color: transparent;
$table-color: white;
$table-head-cell-color: white;
$table-row-hover-background-color: grey;

$grey-darker: hsl(0, 0%, 100%);
