// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-blue, 700, 300, 900);
$my-theme-accent: mat-palette($mat-blue, 900);
$my-theme-warn: mat-palette($mat-red, 700);

// general variables
$card-background: map_get($mat-grey,900);

// Background palette for dark themes.
$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-grey, 900),
  background: #282828,
  hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
  card:       $card-background,
  dialog:     $card-background,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$dark-bluish-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// $body-background-color: #303030;
$text-color: white;
// $mat-toolbar-color: white;
// $mat-toolbar-background: #212121;
$side-nav: map_get($mat-blue, 900);

//Bulma
$menu-item-color: white;
$title-color: $text-color;
$subtitle-color: darken($text-color, 10%);
$menu-item-hover-background-color: rgba(0, 0, 0, .3);
$table-background-color: transparent;
$table-color: white;
$table-head-cell-color: white;
$table-row-hover-background-color: grey;
$table-cell-border: 1px solid grey;
$hr-background-color: grey;
$card-background-color: lighten($card-background, 10%);

$grey-darker: hsl(0, 0%, 100%);
$link: #81d4fa;